.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 127px;
}
.aboutUs,
.allRightsReserved,
.privacyPolicy,
.support {
  position: relative;
  top: 40px;
  left: 288px;
  letter-spacing: 0.12em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 310px;
}
.aboutUs,
.privacyPolicy,
.support {
  left: 1211px;
  width: 102px;
}
.aboutUs,
.privacyPolicy {
  left: 1067px;
}
.privacyPolicy {
  left: 866px;
  width: 159px;
}
.rectangleParent {
  position: relative;
  top: 1685px;
  left: 0;
  width: 1440px;
  height: 127px;
  font-size: var(--font-size-lg);
}
.filipZrnzevicQswg0kjpqryUnsIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 449px;
  object-fit: cover;
}

.groupItem {
  width: 175px;
  position: absolute;
  top: 314px;
  left: 971px;
  color: white;
    text-align: center;
    background-color: #ff4d00;
    border-color: #ff4d00;
    border-width: 2px;
    box-shadow: inset 0 0 0 0 ;
    border-radius: 10px;
    border-width: 2px;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.groupItem:hover{
    font-family: Montserrat;
    color: #ff4d00;
    border-color: #ff4d00;
    box-shadow: inset 700px 0 0 0 white;
    

}

.groupInner {
  width: 175px;
  
  top: 314px;
  left: 971px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 594px;
  height: 48px;
}
.enterYourEmailHere {
  position: absolute;
  top: 11px;
  left: 37px;
  letter-spacing: 0.03em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
}
.rectangleGroup {
  position: absolute;
  top: 313px;
  left: 331px;
  width: 594px;
  height: 48px;
}
.subscribe {
  position: absolute;
  top: 82px;
  left: 610px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.11em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
}
.lineIcon {
  position: absolute;
  top: 144px;
  left: 597.98px;
  width: 271.02px;
  height: 5.01px;
}
.subscribeToOurNewsletter {
  position: absolute;
  top: 166px;
  left: 350px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.21em;
  line-height: 132.9%;
  display: inline-block;
}
.filipZrnzevicQswg0kjpqryUnsParent {
  position: absolute;
  top:1240px;
  left: 0;
  width: 1440px;
  height: 449px;
  font-size: var(--font-size-xl);
}
.rectangleDiv {
 background-color: transparent;
}
.rectangleDiv,
.rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 964px;
}
.email,
.groupButton,
.wrapper {
  width: 661px;
  position: absolute;
  left: 394px;
}
.groupButton {
  top: 780px;
  cursor: pointer;
  background-color: transparent;
    color: #ff4d00;
    text-align: center;
    
    border-color: #ff4d00;
    border-width: 2px;
    box-shadow: inset 0 0 0 0 ;
    border-radius: 10px;
    border-width: 2px;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.groupButton:hover{
    font-family: Montserrat;
    color: #ff4d00;
    border-color: #ff4d00;
    box-shadow: inset 700px 0 0 0 white;
    

}
.email,
.wrapper {
  top: 467px;
}
.email {
  top: 484px;
  left: 454px;
  letter-spacing: 0.12em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 81px;
  color: black;
}
.groupChild1,
.rectangleFormcheck {
  position: relative;
  top: 723px;
  left: 394px;
}
.groupChild1 {
  top: 664px;
}
.individual,
.organization {
  position: absolute;
  top: 723px;
  left: 445px;
  letter-spacing: 0.12em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 191px;
}
.individual {
  top: 664px;
  width: 143px;
}
.container,
.phone {
  width: 661px;
  position: absolute;
  top: 367px;
  left: 394px;
}
.phone {
  top: 384px;
  left: 454px;
  letter-spacing: 0.12em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 113px;
  color: black;
}
.frame,
.numberOfPeople {
  width: 661px;
  position: absolute;
  top: 567px;
  left: 394px;
}
.numberOfPeople {
  top: 583px;
  left: 451px;
  letter-spacing: 0.12em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 228px;
  color: black;
  
}
.name,
.rectangleFormgroup {
  width: 661px;
  position: absolute;
  top: 256px;
  left: 394px;
}
.name {
  top: 273px;
  left: 454px;
  letter-spacing: 0.12em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 81px;
  color: black;
}
.groupParent {
  position: absolute;
  top: 589px;
  left: 0;
  width: 1440px;
  height: 964px;
  font-size: var(--font-size-lg);
}

.groupChild2 {
  position: absolute;
  top: 61.99px;
  left: 189.98px;
  width: 430.02px;
  height: 5.01px;
}
.registerATourWithUs,
.registration {
  position: absolute;
  top: 84px;
  left: 0;
  letter-spacing: 0.21em;
  line-height: 132.9%;
  display: inline-block;
  color:#2f2f2f;
}
.registration {
  top: 0;
  left: 190px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.11em;
  font-weight: 500;
  color: var(--color-red);
}
.lineParent {
  position: absolute;
  top: 630px;
  left: 384px;
  width: 671px;
  height: 137px;
  font-size: var(--font-size-5xl);
}
.table{
  
  color: #ff4d00;
  margin-top: 700px;
  padding-right: 200px;
  padding-left:170px ;
  font-size: medium;
  

}

.erykaRagnaCxaqlat5gbiUnsplaIcon,
.erykaRagnaMbndpk6e2mqUnsplaIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 389px;
  object-fit: cover;
}
.erykaRagnaMbndpk6e2mqUnsplaIcon {
  top: 185px;
  left: 82px;
  width: 1262px;
  height: 359px;
}
.letsTravel {
  position: absolute;
  top: 47px;
  left: 63px;
  letter-spacing: 0.14em;
  line-height: 132.9%;
  display: inline-block;
  color: var(--color-red);
}
.groupChild3,
.groupChild4 {
  position: absolute;
  top: -6px;
  left: -21.03px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-300);
  width: 144px;
  height: 55px;
  display: none;
}
.groupChild4 {
  top: 0;
  left: -15.03px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-600);
  border: 4px solid var(--color-red);
  box-sizing: border-box;
  width: 123px;
  height: 39px;
}
.home,
.rectangleContainer {
  position: absolute;
  width: 97.89px;
}
.home {
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
}
.rectangleContainer {
  top: 53px;
  left: 423px;
  height: 37px;
  cursor: pointer;
  font-size: var(--font-size-3xl);
}
.checkStatus {
  width: 205px;
  position: absolute;
  top: 5px;
  left: 0;
  cursor: pointer;
  font-weight: 500;
}
.about,
.admin {
  position: absolute;
  top: 5px;
  left: 237px;
  letter-spacing: 0.01em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 103px;
  cursor: pointer;
}
.admin {
  left: 474px;
}
.rectangleButton{
  width: 238px;
  position: absolute;
  top: 0;
  left: 0;

  background-color: #ff4d00;
 
  box-shadow: inset 0 0 0 0 ;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ff4d00;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.rectangleButton:hover{
  color: #ff4d00;
  border-color: #ff4d00;
    box-shadow: inset 210px 0 0 0 white;
}

.rectangleFrame {
  width: 238px;
  position: absolute;
  top: 0;
  left: 0;
}
.rectangleFrame {
  left: 600px;
  height: 47px;
}
.searchHere {
  position: absolute;
  top: 3px;
  left: 609px;
  letter-spacing: 0.01em;
  line-height: 132.9%;
  font-weight: 500;
  display: inline-block;
  width: 180px;
}
.s7j4kii6hsgshmcxlovq7siag8vktvIcon {
  position: absolute;
  top: 3px;
  left: 789px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.checkStatusParent {
  position: absolute;
  top: 47px;
  left: 563px;
  width: 838px;
  height: 47px;
  font-size: var(--font-size-3xl);
}
.aSignatureOfExcellence,
.bookWithUsAndBookItOutO,
.whereWouldYouLikeToGo {
  position: absolute;
  top: 233px;
  left: 283px;
  letter-spacing: 0.15em;
  line-height: 132.9%;
  font-weight: 800;
  display: inline-block;
}
.aSignatureOfExcellence,
.whereWouldYouLikeToGo {
  top: 293px;
  left: 423px;
  font-weight: 500;
}
.whereWouldYouLikeToGo {
  top: 11px;
  left: 81px;
  letter-spacing: 0.03em;
}
.s7j4kii6hsgshmcxlovq7siag8vktvIcon1 {
  position: absolute;
  top: 4px;
  left: 519px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.groupDiv {
  position: absolute;
  top: 365px;
  left: 423px;
  width: 594px;
  height: 48px;
  font-size: var(--font-size-xl);
}
.registrartionChild {
  width: 165px;
  position: absolute;
  top: 437px;
  left: 682px;
  background-color: #ff4d00;
 
  box-shadow: inset 0 0 0 0 ;
    border-radius: 10px;
    border-width: 2px;
    border-color: #ff4d00;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.registrartionChild:hover{
  color: #ff4d00;
  border-color: #ff4d00;
    box-shadow: inset 210px 0 0 0 white;
}
.registrartionItem {
  position: absolute;
  top: 494px;
  left: 720px;
  width: 77px;
  height: 16px;
}
.registrartion {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1810px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
