@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
::placeholder{
    color: white;
}
::placeholder:active{
    color: black;
}

.bg-img{
    background-image: url(/src/img/eryka-ragna-cxAqlaT5GbI-unsplash\ 1.png);
    width: 1349px;
    height: 550px;
    margin-top: -250px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-2{

    margin-left: 48px;
    background-image: url(/src/img/eryka-ragna-mBndpK6E2mQ-unsplash\ 2.png);
    width: 1262px;
    height: 359px;
    margin-top: -190px;
    background-repeat: no-repeat;
}

.Tagline{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: -320px;
}

.Tagline-2{
    font-family: Montserrat;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 7px;
    font-size: 35px;
}

.searchbar{
    margin-top: 30px;
    margin-left: 485px;
    background-color: transparent;
    color: #ff4d00;
    text-align: center;
    width: 400px;
    border-color: #ff4d00;
    border-width: 2px;
}

.form-control::-webkit-input-placeholder {
    color: white;
}

.form-control:a{
    color: black;
}

.search{
    font-family: Montserrat;
    margin-top: 15px;
    margin-left: 640px;
    background-color: #ff4d00;
    color: white;
    box-shadow: inset 0 0 0 0 ;
    border-radius: 10px;
    border-width: 2px;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}

.search:hover{
    font-family: Montserrat;
    color: #ff4d00;
    border-color: #ff4d00;
    box-shadow: inset 135px 0 0 0 white;
}

.heading-1{
    color: #ff4d00;
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 110px;
    font-size: 25px;
}
.underline{
    margin-top: -18px;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: underline;
    color: transparent;
    text-decoration-color:#ff4d00 ;
    text-decoration-thickness: 2px ;
    font-size: 25px;

}

.heading-2{
    margin-top: 5px;
    color: black;
    font-family: Montserrat;
    font-weight: 800;
    text-align: center;
    letter-spacing:5px;
    font-size: 25px;
}

.bg-img-3{
    background-image: url(/src/img/filip-zrnzevic-QsWG0kjPQRY-unsplash\ 1.png);
    width: 1349px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.sub{
    text-align: center;
    
}
.sub-1{
    margin-top: -265px;
    color: white;

}

.sub-2{
    text-decoration-color: white;
}
.sub-3{
    color: white;
}

.sub{
    margin-top: 50px;
}
.subbar{
    margin-top: 30px;
    margin-left: 400px;
    background-color: transparent;
    color: #ff4d00;
    text-align: center;
    width: 400px;
    border-color: #ff4d00;
    border-width: 2px;

}
.subscribe{
    font-family: Montserrat;
    margin-top: 30px;
    margin-left: 15px;
    background-color: #ff4d00;
    color: white;
    box-shadow: inset 0 0 0 0 ;
    border-radius: 10px;
    
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}
.subscribe:hover{
    font-family: Montserrat;
    color: #ff4d00;
    border-color: #ff4d00;
    box-shadow: inset 160px 0 0 0 white;
}