@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');
body{
    
    padding: 0;
    margin: 0;

}
/*.Background-color{
    background-color: #1F649B;
}*/
.logo{
    font-family: Montserrat;
    font-weight: 700;
    color: #ff4d00;
}
.logo:hover{
    color: #ff4d00;
}

.nav-text{
    box-shadow: inset 0 0 0 0 white;
    font-family: Montserrat;
    color: white;
    margin-left: 25px;
    border-radius: 30px;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;

}
.nav-text:hover{
    color: white;
    box-shadow: inset 135px 0 0 0 #ff4d00;
    transition-delay: 150ms;
    border-radius: 30px;
}

.btn{

    font-family: Montserrat;
    color: #ff4d00;
    border-color: #ff4d00;
    box-shadow: inset 0 0 0 0 ;
    border-radius: 10px;
    border-width: 2px;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}

.btn:hover{
    color: white;
    border-color: white;
    box-shadow: inset 135px 0 0 0 #ff4d00;
}

.me-2{
    font-family: Montserrat;
    color: white;
    background-color: #ff4d00;
   
}